* {
    box-sizing: border-box;
}
body {
    background-color: rgba(224, 226, 211, .45);
}
a {
    text-decoration: unset;
    color: unset;
}

.d-none {
    display: none !important;
}

.pure-menu-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tm-logo {
    height: 45px;
}
.pure-menu-item {
    cursor: pointer;

    background-color: #FFE699;
    border-radius: 5px;
    color: black;
}
.pure-menu-item:hover {
    background-color: #F4B183;
}
.menu-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu-item-content p {
    margin: 0;
    padding-right: 10px;
}

.website-title {
    width: 100%;
    text-align: center;
}
.website-title img {
    width: 80%;
}

.pure-form {
    display: flex;
    justify-content: center;
}
.pure-form input {
    width: 70%;
}
.search-btn {
    cursor: pointer;

    color: #A2A1A1;
    border-radius: 5px;
    border: none;
    outline:none;
}
.search-btn:hover {
    background-color: #F4B183;
}
.search-btn:active {
    background-color: #FFE699;
}

.pure-form input, .search-btn {
    display: inline-block;
    margin: 0 !important;
}

#decade-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decade {
    cursor: pointer;

    border-radius: 5px;
    width: 80%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;    
    justify-content: center;
    align-items: center;

    color: white
}

[id="1970"] {
    background-image: url("../images/1970.png");
    background-position: center;
    background-size: cover;
}
[id="1980"] {
    background-image: url("../images/1980.png");
    background-position: center;
    background-size: cover;
}
[id="1990"] {
    background-image: url("../images/1990.png");
    background-position: center;
    background-size: cover;
}
[id="2000"] {
    background-image: url("../images/2000.png");
    background-position: center;
    background-size: cover;
}
[id="2010"] {
    background-image: url("../images/2010.png");
    background-position: center;
    background-size: cover;
}

.display-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exit-btn {
    cursor: pointer;
}

.list-movie-poster {
    width: 100px;
}
.single-movie-poster {
    width: 100%;
}

.movie-list-item {
    cursor: pointer;

    display: flex;
    align-items: center;
}
.movie-list-item span {
    margin-left: auto;
}

#default-img {
    margin-top: 100px;
    text-align: center;
}
#default-img img {
    width: 80%;
}