body {
    margin: auto;
    width: max-content;
    padding: 75px;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: max-content;
    border: 2px solid black;
}

#twenty-tens-btn {
    background-color: blue;
    border: 1px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 30px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}

#twenty-hundreds-btn {
    background-color: blue;
    border: 1px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 30px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    }


#nineties-btn {
    background-color: blue;
    border: 1px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 30px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}

#eighties-btn {
    background-color: blue;
    border: .25px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 30px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}

#seventies-btn {
    background-color: blue;
    border: 1px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 30px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}

#movie-btn {
    background-color: blue;
    border: 1px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 30px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}

#movie-info {
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 30px 100px;
    text-align: left;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#contact-message {
    background-color: aquamarine;
    border: 1px solid #fff;
    border-radius: 10px;
    color: black;
    padding: 30px 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#timeline-btn {
    background-color: orangered;
    border: .25px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#month {
    font-size: 28px;
    color: orangered;
}